/** <%= options.generationDisclaimerText %> **/
@use 'general.component' as *;

.data-card {
  margin: 15px 0 10px 0;
}

.data-card-header {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid black;
}
