.form-group {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.form-fields > * {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0;
}

fieldset {
    border-radius: 0.25rem;
    border: 1px solid rgb(142, 142, 142);
}

legend {
    color: rgb(98, 98, 98);
    font-size: 1rem;
    padding: 0 0.375rem;
}