<form [formGroup]="form" (ngSubmit)="onSubmit()" class="<%= options.name %>">
    <% for(let fieldConfig of options.fieldsConfigs) { %>
        <%= options.include(fieldConfig.htmlTemplatePath, { fieldConfig: fieldConfig, include: options.include }) %>
    <% } %>

    <button mat-raised-button type="button" color="warn" (click)="onCancel()"> Cancel </button>
    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid"> Submit </button>
</form>
