<% if (options.customRemoteService) { %>
  import {Custom<%= classify(name) %>Service} from './custom-<%= dasherize(name) %>.service';
  import {Response} from '@esmf/semantic-ui-schematic';
<% } else { %>
  import {Response, EsmfRemoteTableService} from '@esmf/semantic-ui-schematic';
<% } %>

import {AbstractArrayNode, AbstractNode, And, Eq, Limit, Query, QueryStringifier, Sort} from 'rollun-ts-rql';
import {SortOptions} from "rollun-ts-rql/dist/nodes/Sort";
