<% if (options.customRemoteService) { %>
  import {Custom<%= classify(name) %>Service} from './custom-<%= dasherize(name) %>.service';
<% } else { %>
  import {EsmfRemoteTableService} from '@esmf/semantic-ui-schematic';
<% } %>

import {<%= options.aspectModel.name %>Response} from './<%= dasherize(options.name) %>.service';
import {AbstractArrayNode, AbstractNode, And, Eq, Limit, Query, QueryStringifier, Sort} from 'rollun-ts-rql';
import {SortOptions} from "rollun-ts-rql/dist/nodes/Sort";
