<!--  <%= options.generationDisclaimerText %> -->

<span
  [tableCellTooltip]="value"
  [highlight]="highlightString"
  [highlightSource]="value"
  [highlightColor]="highlightConfigColor"
  [selected]="highlightConfigSelector"
>
  {{ value === null ? '-' : value }}
</span>

<mat-icon
  class="material-icons copy-to-clipboard"
  *ngIf="!(value === null || value === undefined)"
  (click)="copyToClipboard(value, $event)"
  data-test="copy-to-clipboard-icon"
>
  content_copy
</mat-icon>