<mat-checkbox
    class="form-field"
    [formControl]="formControl"
    (ngModelChange)="value = $event"
    data-test="<%= options.fieldConfig.name %>-checkbox"
><%= options.fieldConfig.name %></mat-checkbox>