export interface Config {
    /** Column name **/
    name: string;
    /** Desc of the config **/
    desc: string;
    /** State if the column is selected **/
    selected: boolean;
    /** Color for the highlighted configuration **/
    color?: string;
}
