import {<% if (options.customRemoteService) { %>Custom<% } %><%= classify(options.name) %>Service} from './<% if (options.customRemoteService) { %>custom<% } %>-<%= dasherize(options.name) %>.service';
import {<%= options.aspectModelTypeName %>Response} from './<%= dasherize(options.name) %>.service';
import {AbstractArrayNode, AbstractNode, And, Eq, Limit, Query, QueryStringifier, Sort} from 'rollun-ts-rql';
import {SortOptions} from "rollun-ts-rql/dist/nodes/Sort";
