<mat-form-field class="form-field">
    <mat-label><%= options.fieldConfig.name %></mat-label>
    <input matInput type="datetime-local" formControlName="<%= options.fieldConfig.name %>">

    <%= options.include(options.fieldConfig.validatorsHtmlTemplatePath, { validators: options.fieldConfig.validators, include: options.include }) %>
</mat-form-field>