<form [formGroup]="form">
    <fieldset class="form-group">
        <legend><%= options.fieldConfig.name %></legend>
        <section class="form-fields">
            <% for (let childConfig of options.fieldConfig.children) {
                %><<%= dasherize(childConfig.name) %> formControlName="<%= childConfig.name %>"></<%= dasherize(childConfig.name) %>>
            <% } %>
        </section>
    </fieldset>
</form>
